name: MAPDL dependent tests for paths tool

on:
  pull_request:
  workflow_dispatch:
  push:
    tags:
      - '*'
    branches:
      - main

env:
  PACKAGE_NAME: ansys-tools-common
  MAIN_PYTHON_VERSION: 3.13

permissions:
  contents: read
  packages: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build-tests:
    name: Build tests
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ansys/mapdl:v26.1.0@sha256:0c570344f3859b17a01bdf38f9fc69659823511370864b3233ac13159aa73550
      options: -u=0:0 --entrypoint /bin/bash
      credentials:
        username: ${{ secrets.GH_USERNAME }}
        password: ${{ secrets.GH_TOKEN }}
    env:
      ANSYS_LOCAL: true
      ON_UBUNTU: true

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # 7.1.2
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          enable-cache: false

      - name: Install project dependencies
        run: |
          uv sync --group tests

      - name: Install test package containing entrypoint
        run: |
          uv pip install tests/launcher/pkg_with_entrypoint

      - name: Run tests
        env:
          PACKAGE_NAMESPACE: ${{ env.PACKAGE_NAMESPACE }}
        run: |
          uv run pytest \
            -vx \
            --cov=${PACKAGE_NAMESPACE} --cov-report=term --cov-report=xml:.cov/coverage.xml --cov-report=html:.cov/html
